---
apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: {{ include "hubble-gke-exporter.fullname" . }}
  labels:
    app.kubernetes.io/name: gke-hubble-export
    {{- include "hubble-gke-exporter.labels" . | nindent 4 }}
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: gke-hubble-export
      {{- include "hubble-gke-exporter.labels" . | nindent 6 }}
  updateStrategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 10
  template:
    metadata:
      annotations:
        {{- with .Values.exporter.spec.podAnnotations }}
          {{- . | toYaml | nindent 8 }}
        {{- end }}      
      labels:
        app.kubernetes.io/name: gke-hubble-export
        {{- with .Values.exporter.spec.podLabels }}
          {{- . | toYaml | nindent 8 }}
        {{- end }}
        {{- include "hubble-gke-exporter.labels" . | nindent 8 }}
    spec:
      hostNetwork: {{ .Values.exporter.spec.hostNetwork }}
      {{- with .Values.exporter.spec.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - name: gke-hubble-export
          image: "{{ .Values.exporter.image.repository }}:{{ .Values.exporter.image.tag }}"
          imagePullPolicy: {{ .Values.exporter.image.imagePullPolicy }}
          env:
            - name: GKE_HUBBLE_EXPORT_ADDR
              valueFrom:
                fieldRef:
                  apiVersion: v1
                  fieldPath: status.hostIP
          volumeMounts:
            - mountPath: /var/run/cilium
              name: cilium-run
      terminationGracePeriodSeconds: 30
      volumes:
        - hostPath:
            path: /var/run/cilium
            type: DirectoryOrCreate
          name: cilium-run
